<div>
    <mat-form-field class="col-md-12">
        <mat-label>Search By Location</mat-label>
        <input matInput />
    </mat-form-field>
    <div class="row">
        <span class="col-md-3"></span>
        <button class="btn btn-primary" (click)="searchStores()">Search</button>
    </div>
    <br>
    <hr><br>
    <mat-list>
        <h3 mat-subheader>Stores</h3>
        <mat-list-item *ngFor="let store of stores" (click)="goToStore(store)">
            <mat-icon mat-list-icon>store</mat-icon>
            <h4 mat-line>{{store.storeName}}</h4>
            <p mat-line> {{store.description | date}} </p>
        </mat-list-item>
    </mat-list>
</div>