<div class="row" *ngIf="!enableCart">
    <div *ngFor="let item of items" class="col-md-6">
        <mat-card>
            <mat-card-header class="row">
                <mat-card-title>{{item.itemName}}</mat-card-title>
                <span class="col-md-7"></span>
                <span class="right-align">price : {{item.price}}</span>
            </mat-card-header>
            <div class="selection">
                <button class="btn btn-sm btn-primary" (click)="removeItemFromCart(item)">&#x2015;</button>
                <span class="quantity">{{item.count}}</span>
                <button class="btn add-btn btn-sm btn-primary" (click)="addItemToCart(item)"></button>
            </div>
        </mat-card>
    </div>
</div>
<div class="row" *ngIf="enableCart">
    <div *ngFor="let item of cartItems" class="col-md-6">
        <mat-card>
            <mat-card-header class="row">
                <mat-card-title>{{item.itemName}}</mat-card-title>
                <span class="col-md-7"></span>
                <span class="right-align">price : {{item.price}}</span>
            </mat-card-header>
            </mat-card>
    </div>
</div>