<div class="row" >
<div *ngFor="let item of items"  class="col-md-6">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{item.itemName}}</mat-card-title>
            <span class="right-align">price : {{item.price}}</span>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div class="selection">
            <button class="btn btn-sm btn-primary" (click)="removeItemFromCart(item)">-</button>
            <span class="quantity">{{item.count}}</span>
            <button class="btn btn-sm btn-primary" (click)="addItemToCart(item)">+</button>
        </div>
    </mat-card>
</div>
</div>
